<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <!-- Bootstrap -->
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
     <link href="css/autoforce.css" rel="stylesheet">

</head>
<body>    
     <!-- Fixed navbar -->

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> 
					<!--  this is 3 line icon of small screen -->
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>					
				</button>
				<a class="navbar-brand" href="login.htm">AutoForce</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="login.do">Login</a></li>
					<li><a href="about.html">About</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
	
		<div class="col-sm-offset-2 header">
			<h3>Login to Instance:</h3>
		</div>

		<form class="form-horizontal" role="form" action="login.do" method="post">
		
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">Email</label>
				<div class="col-sm-5">
					<input type="email" class="form-control" id="email" placeholder="Email" name="email">
				</div>
			</div>
			
			<div class="form-group">
				<label for="password" class="col-sm-2 control-label">Password</label>
				<div class="col-sm-5">
					<input type="password" class="form-control" id="password"	placeholder="Password" name="password">
				</div>
			</div>
			
			<div class="form-group">
				<label for="instance" class="col-sm-2 control-label">Instance</label>
				<div class="col-sm-5">
					<select class="form-control" id="instance" name="instance" >
						<option value="https://test.salesforce.com/services/Soap/c/">Sandbox</option>
						<option value="https://login.salesforce.com/services/Soap/c/">Developer Edition</option>
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<label for="version" class="col-sm-2 control-label">Instance</label>
				<div class="col-sm-2">
					<select  class="form-control" id="version" name="version">
						<option value="32.0">32</option>
						<option value="31.0">31</option>						
					</select>
				</div>
			</div>			
			
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-4">
					<button type="submit" class="btn btn-default">Sign in</button>
				</div>
			</div>
			
		</form>

	</div>
	
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>