<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task List</title>

    <!-- Bootstrap -->
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
     <link href="css/toolbar.css" rel="stylesheet">

</head>
<body>    
     <!-- Fixed navbar -->

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> 
					<!--  this is 3 line icon of small screen -->
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>					
				</button>
				<a class="navbar-brand" href="login.htm">AutoForce</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class=""><a href="login.do">Login</a></li>
					<li><a href="about.html">About</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
	
		<div class="col-sm-offset-0 header">
			<h3>Select Task:</h3>
		</div>
		
		<table class="table table-bordered">
			<tr>
				<td>
					<a href="">Package xml Generator</a>
				</td>
				<td>This tool use to generate package xml</td>
			</tr>
			<tr>
				<td>
					<a href="">Code Coverage</a>
				</td>
				<td>showing code coverage in old Salesforce style</td>
			</tr>
			<tr>
				<td>
					<a href="">Code Compiler</a>
				</td>
				<td> immortal web IDE that replace original Salesforce web IDE, and survive from "lock by Admin" error</td>
			</tr> 
		</table>

	</div>
	
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>